
.btn-edit {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  

  .btn-delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
 
  .btn-cancel {
    background-color: gray;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .btn-save {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  .table img {
    max-width: 100px;
    height: auto;
  }